# Used requirements
# Please add description comment before each requirement


# JupyterLab is a web-based interactive development environment for Jupyter notebooks, code, and data
# Install the Jupyter system, including the notebook, qtconsole, and the IPython kernel.
jupyter
# TensorFlow is a Python library for fast numerical computing created and released by Google
tensorflow
# Numpy is a general-purpose array-processing package. It provides a high-performance multidimensional array object, and tools for working with these arrays
numpy
# pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool
pandas
# Plotting library
matplotlib
# scikit learn
sklearn
# Seaborn is a library for making statistical graphics in Python. It is built on top of matplotlib and closely integrated with pandas data structures.
seaborn
#
tqdm
# technical indicators
ta
# backtrader library
backtrader


# DO NOT CHANGE BELOW
# Pylint is a Python static code analysis tool which looks for programming errors, helps enforcing a coding standard, sniffs for code smells and offers simple refactoring suggestions
pylint
# Black is the uncompromising Python code formatter
black
# Remove unused imports and unused variables from Python code
autoflake
# Sort imports alphabetically, and automatically separate into sections and by type
isort
# Mypy is an optional static type checker for Python that aims to combine the benefits of dynamic (or "duck") typing and static typing
mypy
# Security oriented static analyser for python code
bandit
# Complexity analysis
radon

# Flake8
flake8
flake8-flask
flake8-blind-except
flake8-breakpoint
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-logging-format
flake8-print
flake8-pytest
flake8-pytest-style
flake8-return
pep8-naming

# A framework for managing and maintaining multi-language pre-commit hooks
pre-commit
